{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}


{% block extrastyle %}
{{block.super}}
<script type="text/javascript" src="/static/js/region_admin.js"></script>

{% endblock %}

{% block breadcrumbs %}

{{block.super}}
<div class="module" style="margin: 10px 15px 10px 0; padding: 20px 0;">
    <button id="import-un-region-set" class="btn-success oipa-admin-button">Import United Nations regions</button>
    <button id="import-unesco-region-set" class="btn-success oipa-admin-button">Import UNESCO regions</button>
    <button id="update-region-center" class="btn-success oipa-admin-button">Update region center lat/long</button>


</div>

{% endblock %}


