lxml==3.2.3
mysql-python==1.2.5
Django==1.5.4
south==0.8.2
django-tastypie==0.10.0
django-haystack==2.1.0
python-dateutil==2.1
python-mimeparse==0.1.4
pysolr==3.1.0
django-jenkins==0.14.1
pylint==1.0.0
defusedxml==0.4.1
johnny-cache==1.4
contexttimer==0.2.0
mechanize==0.2.5
django-suit==0.2.7
objgraph
guppy
ujson==1.33
redis
rq
rq-scheduler
supervisor
django-supervisor

git+git://github.com/gkuhn1/django-admin-multiupload.git
