# # Project specific
# Solr mounted docker directory
solr_mount_dir

# # General gitignore
# Environments
.env
.env.docker
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Celery
celerybeat-schedule
celerybeat.pid

# Editors
.vscode
*.sublime-workspace
.idea
session.vim

# MacOS
.DS_Store

# Logs
*.log

# Python cache
__pycache__