# Package references:
# - Django
#   - PostgreSQL support
# - .env file support
# - Celery
#   - Celery beat
#   - Celery results
#   - Flower
# - Safe xml usage
# - XML
#   - Safe xml usage
#   - lxml for legacy currency convert
# - Processing requirements
#   - pysolr
#   - xmljson
#   - pymongo
# - Project maintenance
# - Testing

amqp==5.3.1
asgiref==3.11.1
beautifulsoup4==4.14.3
billiard==4.2.4
celery==5.3.1
certifi==2026.1.4
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cognitive_complexity==1.3.0
coverage==7.13.4
cron_descriptor==2.0.6
debugpy==1.8.20
defusedxml==0.7.1
distlib==0.4.0
Django==4.2.27
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-timezone-field==7.2.1
dnspython==2.8.0
docker==7.1.0
filelock==3.24.3
flake8==7.3.0
flake8-isort==7.0.0
flake8_cognitive_complexity==0.1.0
flower==2.0.1
humanize==4.15.0
identify==2.6.16
idna==3.11
iniconfig==2.3.0
isort==8.0.0
kombu==5.6.2
lxml==4.9.3
mccabe==0.7.0
MechanicalSoup==1.3.0
nodeenv==1.10.0
packaging==26.0
platformdirs==4.9.2
pluggy==1.6.0
pre_commit==4.5.1
prometheus_client==0.24.1
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pymongo==4.6.3
pysolr==3.11.0
pytest==9.0.2
pytest-celery==1.2.1
pytest-cov==7.0.0
pytest-django==4.12.0
pytest-mock==3.15.1
pytest_docker_tools==3.1.9
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
requests-mock==1.12.1
setuptools==82.0.0
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
tenacity==9.1.4
tornado==6.5.4
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
vine==5.1.0
virtualenv==20.39.0
wcwidth==0.6.0
xmljson==0.2.1
