<!DOCTYPE html>{% load i18n static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}">
        <link rel="stylesheet" href="{% static "css/docs.css" %}">

        <title>OIPA | {% block title %}{{ title }}{% endblock %}</title>
        <style>
            .push_20px_top {
                margin-top: 20px;
            }
            .push_10px_top {
                margin-top: 10px;
            }
        </style>
        
        
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-364056-19']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>    
    </head>
    <body>
        <a class="hidden-phone" href="https://github.com/openaid-IATI/OIPA"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:9999" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
        <div class="container">
            <header class="jumbotron subhead" id="overview">
                <h1>OIPA {{ version }}</h1>
                <p class="lead">OIPA is a framework that provides a rich and usable API for parsing, ingesting, storing and searching IATI standard compliant datasets.</p>
                <div class="subnav">
                    <ul class="nav nav-pills">
                        <li{% if title == 'Documentation' %} class="active"{% endif %}><a href="/api/v3/docs/"><i class="icon-home"></i></a></li>
                        <li{% if title == 'Getting started' %} class="active"{% endif %}><a href="/api/v3/docs/getting-started/">Getting started</a></li>
                        <li{% if title == 'Resources' %} class="active"{% endif %}><a href="/api/v3/docs/resources/">Resources</a></li>
                        <li{% if title == 'Filtering' %} class="active"{% endif %}><a href="/api/v3/docs/filtering/">Filtering</a></li>
                        <li{% if title == 'Ordering' %} class="active"{% endif %}><a href="/api/v3/docs/ordering/">Ordering</a></li>
                        <li{% if title == 'About' %} class="active"{% endif %}><a href="/api/v3/docs/about/">About</a></li>
                    </ul>
                </div>
            </header>
            {% block content %}
                <div class="page-header">
                    <img src="{% static "img/base_feature_img.jpg" %}" />
                </div>
                <div class="row">
                    <div class="span4">
                        <h2>What is IATI?</h2>
                        <p>IATI is a global aid transparency standard and it makes information about aid spending easier
                            to access, use and understand using a unified open standard. You can find more about IATA
                            standard at: <a href="http://iatistandard.org/">http://iatistandard.org/</a></p>
                    </div>
                    <div class="span4">
                        <h2>What is OIPA?</h2>
                        <p>OIPA enables IATI standard compliant datasets to easily parse and interface that data using the
                            API that has been developed on the Django framework.</p>
                    </div>
                    <div class="span4">
                        <h2>License</h2>
                        <p>OIPA is licensed under AGPL.</p>
                    </div>
                </div>
            {% endblock %}
            <footer class="footer">
                <p class="pull-right"><a href="#">{% trans "Back to top" %}</a></p>
                <p>Code licensed under the <a href="https://github.com/openaid-IATI/OIPA/blob/master/LICENSE" target="_blank">GNU AGPL</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
                <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
            </footer>
        </div>
    </body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</html>
