.oipa-admin-button{
    transition: background-color 0.5s ease;
    background-color: #999;
    color: #fff;
    border: 0;
    padding:6px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
}

.oipa-admin-button:hover{
    background-color: #999;
    color: #fff;
    border: 0;
    padding:6px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.parse-btn, .sync-btn{
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #999;
    color: #fff;
    text-shadow: none;
    cursor: pointer;
    margin-top: 4px;
    text-decoration: none;

}

a.parse-btn:hover, a.sync-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #666;

}

.django-rq-buttons a{
    margin-bottom: 2em;
    display: inline-block;
    text-decoration: none;
}

.delete-scheduled-task{
    display: inline-block;
}

.django-rq-buttons a:hover{
    background: #51a351;
}

#django-rq-input-parse-x-days{
    width:50px;
}

.django-rq-buttons select{
    margin-bottom: 0;
    min-width: 300px;
    margin-right: 10px;
}

a{
    text-decoration: none;
}

#footer{
    display: none;
}

#task-queue-jobs-admin{
    margin-bottom: 2em;
}

.django-rq-block{
    background-color: #fff;
    border-radius: 4px;
    padding: 2em;
    margin: 0 0 3em;
    position: relative;
}

#page-django-rq-tasks h1{
    margin: 0 0 1em;
}

.block-schedule-new-task, .error-details-tr{
    display: none;
}

.django-rq-align-right{
    text-align: right;
}


#page-django-rq-tasks input{
    line-height: 2em;
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 2px 5px 2px 10px;
}

#close-add-new-task, #close-schedule-new-task{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#add-task-input-parameters, #add-task-button-parser, #add-task-button-default{
    display: block;
    margin: 2em 0;
}

#add-task-input-parameters, #add-scheduled-task-input-parameters-wrapper{
    display: none;
}

#django-rq-parse-queue-block{
    display: none;
}

#add-task-button-default{
    margin-bottom: 0;
}

#add-task-parser-notification, #add-task-default-notification{
    opacity: 0;
    color: #51a351;

}