header#grp-header{
    position: inherit;
}

#grp-content{
    top: 0;
}

.inline-group .inline-group .grp-td.activity, .inline-group .inline-group .grp-th.activity, .inline-group .inline-group .grp-th.none{
    display: none;
}

.admin-charfield-more-width{
    min-width: 400px;
}

.autocomplete-light-widget {
  z-index:10;
}

.oipa-topnav{
    padding: 5px 20px;
    display: block;
    margin-bottom: 10px;

}

.oipa-admin-button{
    transition: background-color 0.2s ease;
    background-color: #999;
    color: #fff;
    border: 0;
    padding:6px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    margin: 0 2px;
}

.oipa-admin-button:hover, .oipa-admin-button:focus{
    background-color: #999;
    color: #fff;
    border: 0;
    padding:6px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.admin-btn.btn-warning, .parse-activity-btn.btn-warning .oipa-admin-button.btn-warning{
    background-color: #5bc0de;
}

.admin-btn.btn-info, .parse-activity-btn.btn-info, .oipa-admin-button.btn-info{
    background-color: #5cb85c;
}


.admin-btn.btn-info:hover, .parse-activity-btn.btn-info:hover, .oipa-admin-button.btn-info:hover{
    background-color: #417f41;
}

.admin-btn.btn-danger, .parse-activity-btn.btn-danger, .oipa-admin-button.btn-danger{
    background-color: #d9534f;
}

.admin-btn, .parse-activity-btn, .sync-btn{
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #999;
    color: #fff;
    text-shadow: none;
    cursor: pointer;
    margin-top: 4px;
    text-decoration: none;
}


a.admin-btn:hover, .parse-activity-btn:hover a.sync-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #666;
}

.admin-btn{
    white-space: nowrap;
}

.parse-activity-btn{
    display: block;
    margin-top: 8px;
}

.django-rq-buttons a{
    margin-bottom: 2em;
    display: inline-block;
    text-decoration: none;
}

.delete-scheduled-task{
    display: inline-block;
}

.django-rq-buttons a:hover{
    background: #51a351;
}

#django-rq-input-parse-x-days{
    width:50px;
}

.django-rq-buttons select{
    margin-bottom: 0;
    min-width: 300px;
    margin-right: 10px;
}

a{
    text-decoration: none;
}

#footer{
    display: none;
}

#task-queue-jobs-admin{
    margin-bottom: 2em;
}

.django-rq-block{
    background-color: #fff;
    border-radius: 4px;
    padding: 0;
    margin: 0 0 3em;
    position: relative;
}

#page-django-rq-tasks h1{
    margin: 0 0 1em;
}

.block-schedule-new-task, .error-details-tr{
    display: none;
}

.django-rq-align-right{
    text-align: right;
}


#page-django-rq-tasks input{
    line-height: 2em;
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 2px 5px 2px 10px;
}

#close-add-new-task, #close-schedule-new-task{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

#add-task-input-parameters, #add-task-button-parser, #add-task-button-default{
    display: block;
}

#add-task-input-parameters, #add-scheduled-task-input-parameters-wrapper{
    display: none;
}

#django-rq-parse-queue-block{
    display: none;
}

#add-task-button-default{
    margin-bottom: 0;
}

#add-task-parser-notification, #add-task-default-notification{
    opacity: 0;
    color: #666;
}

.nested-caption{
    caption-side: top;
    display: table-caption;
}


.inline-extra-item{
    display: none;
}

.custom-oipa-add-another[data-set="documentlinktitle"] {
    display: none;
}

#ui-datepicker-div{
    z-index: 99 !important;
}

.task-btn{
    margin: 10px 10px 10px 0;
    display: inline-block;
    font-size: 12px;
}

.autocomplete-light-widget .deck [data-value] .remove{
    position: absolute;
    left: 7px;
    top: 9px;
}

.autocomplete-light-widget .deck [data-value]{
    padding-left: 20px;
}
