{% load url from future %}
{% load staticfiles %}
{% load rest_framework %}
<!DOCTYPE html>
<html>
	<head>
	{% block head %}
	    {% block meta %}
			<meta charset="utf-8" />
	        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    {% endblock %}
	    <title>{% block title %}OIPA | The API{% endblock %}</title>
		{% block style %}
		    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
		    <link rel="stylesheet" href="{% static "foundation/stylesheets/app.css" %}" />
		    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		    <script src="{% static "foundation/bower_components/modernizr/modernizr.js" %}"></script>
		{% endblock %}
	{% endblock %}
	</head>
	{% block body %}
	<body class="{% block bodyclass %}home{% endblock %}">
		{% block branding %}
		<header>
	        <div class="row">
	        	<!-- <div class="small-7 medium-6 large-5 columns small-centered text-center logostatic">
	        		<img src="{% static "foundation/img/oipa.svg" %}" >
	        	</div> -->
	            <div class="small-12 columns small-centered text-center logo">
	                <span class="haakje">[</span>
	                <span class="letter">O</span>
	                <span class="letter">I</span>
	                <span class="letter">P</span>
	                <span class="letter">A</span>
	                <span class="blink flash infinite">|</span>
	                <span class="haakje">]</span>
	                <!-- <span class="zimmer animated zoomIn">by zimmerman & zimmerman</span> -->
	            </div>
	        </div>
	        <div class="row">
	            <div class="columns large-8 medium-10 small-12 small-centered text-center">
	                <h1>Openaid IATI Parser and API</h1>
	                <p>OIPA is a framework that provides a rich and usable API for parsing, ingesting, storing and searching IATI  compliant data.</p>
	                <p class="buttons">
	                	<a href="https://github.com/openaid-IATI/OIPA" target="_blank" class="button radius roze">OIPA on Github</a>
	                </p>
	            </div>
	        </div>
	    </header>
	    {% endblock %}
	    {% block navi %}
	    <nav>
	    	<div class="row">
	    		<div class="columns small-12 text-center">
	    			<div id="logo">
	    				<a href="https://github.com/openaid-IATI/OIPA" target="_blank"></a><img src="{% static "foundation/img/oipa.svg" %}" > on Github
    				</div>
			    	<ul class="tabs">
			    		<li class="tab-title active"><a href="/home">Home</a></li>
			    		<li class="tab-title"><a href="/api">The API</a></li>
			    		<li class="tab-title"><a href="/about">About us</a></li>
		    		</ul>
	    		</div>
    		</div>
	    </nav>
	    {% endblock %}

		{% block contents %}
		<section class="middle">
			<div class="row">
				<div class="columns small-12 large-4">
                    <h2>What is IATI?</h2>
                    <p>IATI is a global aid transparency standard and it makes information about aid spending easier
                        to access, use and understand using a unified open standard. You can find more about IATA
                        standard at: <a href="http://iatistandard.org/">http://iatistandard.org/</a></p>
                </div>
                <div class="columns small-12 large-4">
                    <h2>What is OIPA?</h2>
                    <p>OIPA enables IATI standard compliant datasets to easily parse and interface that data using the
                        API that has been developed on the Django framework.</p>
                </div>
                <div class="columns small-12 large-4">
                    <h2>License</h2>
                    <p>OIPA is licensed under AGPL.</p>
                </div>
			</div>
			<div class="row">
                <div class="large-12 columns text-center">
                    <h1>Showcase</h1>
                    <p>Websites using OIPA</p>
                    <ul class="small-block-grid-2 medium-block-grid-4">
                        <li><a href="http://opendata.unesco.org/" target="_blank" class="th"><img src="{% static "foundation/img/unesco.png" %}" data-tooltip aria-haspopup="true" title="UNESCO Transparency Portal"></a></li>
                        <li><a href="http://open.unhabitat.org/" target="_blank" class="th"><img src="{% static "foundation/img/openun.png" %}" data-tooltip aria-haspopup="true" title="Open UN-Habitat"></a></li>
                        <li><a href="http://www.openaid.nl/" target="_blank" class="th"><img src="{% static "foundation/img/openaid.png" %}" data-tooltip aria-haspopup="true" title="Openaid NL"></a></li>
                        <li><a href="http://devtracker.dfid.gov.uk/" target="_blank" class="th"><img src="{% static "foundation/img/dfid.png" %}" data-tooltip aria-haspopup="true" title="DFID Development tracker"></a></li>
                    </ul>
                </div>
            </div>
		</section>
		{% endblock %}

    	{% block footer %}
		<footer>
	        <div class="row">
	            <div class="columns small-6 medium-4 large-2 small-centered text-center">
	            <a href="http://www.zimmermanzimmerman.nl" target="_blank"><img src="{% static "foundation/img/zz-logo.svg" %}"></a>
	            </div>
	        </div>
	        <div class="row">
	            <div class="columns small-12 small-centered text-center">
	                <p>Code licensed under the <a href="https://github.com/openaid-IATI/OIPA/blob/master/LICENSE" target="_blank">GNU AGPL</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
	            </div>
	        </div>
	    </footer>
		{% endblock %}

	</body>
	{% endblock %}

{% block script %}

    <script src="{% static "foundation/bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "foundation/bower_components/foundation/js/foundation.min.js" %}"></script>
    <script src="{% static "foundation/js/app.js" %}"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-364056-19']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>  

{% endblock %}

</html>
