{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}


{% block extrastyle %}
{{block.super}}
<script type="text/javascript" src="/static/js/indicator_admin.js"></script>

{% endblock %}

{% block breadcrumbs %}

{{block.super}}
    <div class="module" style="margin: 10px 15px; padding: 20px;">

        <button id="update-indicators-set" class="btn-success oipa-admin-button">Update indicator meta</button>
        <button id="update-indicator-data-set" class="btn-success oipa-admin-button">Update indicator country data</button>
        <button id="update-indicator-city-data-set" class="btn-success oipa-admin-button">Update indicator city data</button>
        <button id="update-wbi-set" class="btn-success oipa-admin-button">Update WB development indicators</button>
    </div>

{% endblock %}