{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}


{% block extrastyle %}
{{block.super}}
<script type="text/javascript" src="/static/js/country_admin.js"></script>

{% endblock %}

{% block breadcrumbs %}

{{block.super}}
    <div class="module" style="margin: 10px 15px 10px 0; padding: 20px 0;">


        <button id="update-polygon" class="btn-success oipa-admin-button">Add/update country polygons</button>
        <button id="update-country-center" class="btn-success oipa-admin-button">Add/update country center locations</button>
        <button id="update-alt-names" class="btn-success oipa-admin-button">Update alt names</button>
        <button id="update-regions" class="btn-success oipa-admin-button">Add/update regions of countries</button>
        <button id="update-country-identifiers" class="btn-success oipa-admin-button">Add/update other identifiers (numerical UN, alpha3, fips10)</button><br>
        Note: No countries yet? Use the codelist synchroniser under iati synchronisers to add them.
    </div>

{% endblock %}