[Unit]
Description=uWSGI Emperor service
After=syslog.target

[Service]
ExecStart=/home/oipa/envs/oipa/bin/uwsgi --emperor /etc/uwsgi/vassals --uid=oipa
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target