[Unit]
Description=django-supervisor
After=network.target

[Service]
Type=simple
User=oipa
Group=oipa
ExecStart=/bin/bash -c 'source /home/oipa/envs/oipa/bin/activate; cd /home/oipa/OIPA/OIPA/; /usr/bin/env python manage.py supervisor'
TimeoutSec=20

[Install]
WantedBy=multi-user.target