{% extends "home/home.html" %}
{% load staticfiles %}
{% load rest_framework %}

{% block bodyclass %}api{% endblock %}


{% block navi %}

        <nav>
            <div class="row">
                <div class="columns small-12 text-center">
                    <div id="logo" class="visible">
                        <a href="https://github.com/zimmerman-zimmerman/OIPA" target="_blank"></a><img src="{% static "foundation/img/oipa.svg" %}" > on Github
                    </div>
                    <ul class="tabs">
                        <li class="tab-title"><a href="/home">Home</a></li>
                        <li class="tab-title"><a href="/api">The API</a></li>
                        <li class="tab-title"><a href="/about">About us</a></li>
                    </ul>
                </div>
            </div>
        </nav>

{% endblock %}


{% block contents %}
<section class="middle">
    <div class="row">
        <div class="columns small-12">
            
              {% block content_wrapper %}
                <div class="container">
                  {% block content %}{% endblock %}
                </div>
              {% endblock %}
        </div>
    </div>
</section>
{% endblock %}

</body>
</html>
